body {
  text-align: center;
  background-color: #011122;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 1.6;
}

.container {
  display: none;
  width: 50%;
  margin: auto;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-gameover{
  display: none;
}

.btn {
  background-color: #FEF2BF;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(35, 35, 50);
  cursor: pointer;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  vertical-align: middle;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  padding: 18px;
  margin: 24px;
  max-width: fit-content;
}
.btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.game-btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 8px solid black;
  border-radius: 15%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.music {
  border: 2px solid white;
  border-radius: 15%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}